.header {
  background-color: #599995;
  text-align: left;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  margin-left: 0%;
}
body{
background-color: #b6d3d1;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 5px;
  /* border-radius: 5px 5px 5px 5px; */
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  margin-left: 23%;
}
.topnav a:hover {
  background-color: #b6d3d1;
  color: black;
}

ul {
  list-style-type: none;
  margin: 100px;
  padding: 0;
  width: 300px;
  background-color: #000000;
  color: black;
}

li a {
  display: block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: white;
  color: black;
}
h3 {
  font: outline;
  color: #333;
  font-size: xx-large;
  background-color: #b6d3d1;
}
.logoutbtn {
  background-color: #f2f2f2;
  color: #333;
  padding: 8px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 4%;
  opacity: 0.9;
  float: right;
  margin-top: -56px;
}
.logoutbtn:hover {
  opacity: 1;
}

.icon {
  height: 56px;
  margin-top: 13px;
}

.title {
  margin-left: 70px;
  margin-top: -81px;
  overflow: hidden;
  margin-bottom: -25px;
}
