* {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  text-align: left;
  background-color: #b6d3d1;
  padding-bottom: 10%;
  border-radius: 0px 0px 5px 5px;
}

input[type="text"],
input[type="password"] {
  width: 30%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #356d69;
  color: white;
  padding: 5px 7px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  margin-left: 53%;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

select {
  width: 5%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
form {
  align-content: center;
}

.container ul li {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  margin-left: 30%;
}
#img {
  margin-left: 60%;
  min-height: 70%;
}
.container ul {
  margin-left: 0%;
}

#reg {
  margin-left: 20%;
  vertical-align: auto;
}
