* {
  box-sizing: border-box;
}

.container {
  /* padding: 10px; */
  text-align: left;
  background-color: #b6d3d1;
  padding-top: 5%;
  padding-bottom: 30%;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.container2 {
  /* padding: 10px; */
  text-align: left;
  background-color: #b6d3d1;
  padding-top: 5%;
  padding-bottom: 10%;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

input[type="text"],
input[type="password"] {
  width: 30%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #356d69;
  color: white;
  padding: 5px 7px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-decoration: none;
}

#submit,
#refresh,
#edit,
#update {
  margin-left: 53%;
  width: 10%;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

select {
  margin-left: 190px;
  width: 7%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#gender1 {
  margin-left: 220px;
}
#gender {
  margin-left: 20px;
}
#name,
#email {
  margin-left: 230px;
}
#dob {
  margin-left: 182px;
}
#contact {
  margin-left: 165px;
}
#address,
#religion {
  margin-left: 220px;
}
#joining_year {
  margin-left: 195px;
}
#dept {
  margin-left: 200px;
}
#designation {
  margin-left: 195px;
}
#working_experience {
  margin-left: 143px;
}
#salary {
  margin-left: 235px;
}
#password {
  margin-left: 215px;
}
#blood {
  margin-left: 190px;
}
#id {
  margin-left: 255px;
}
#fileToUpload {
  margin-left: 200px;
}
form {
  align-content: center;
}

.container ul li {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  margin-left: 30%;
}
#img {
  margin-left: 60%;
  min-height: 70%;
}
.container ul {
  margin-left: 0%;
}

#reg {
  margin-left: 20%;
  vertical-align: auto;
}
.search {
  /* padding: 10px; */
  text-align: left;
  background-color: #b6d3d1;
  padding-top: 2%;
  padding-bottom: 30%;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}
.searchST {
  /* padding: 10px; */
  text-align: left;
  background-color: #b6d3d1;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}
#search {
  margin-left: 30%;
}
#uname {
  border: #333;
  border-bottom: double;
}
#mytext {
  margin-left: 30%;
}
